{% extends 'base.html' %}

{% block title %}Confirmar Exclusão{% endblock %}

{% block content %}
<div class="container py-5">
    <h2 class="text-danger text-center mb-4">Confirmar Exclusão</h2>
    <div class="alert alert-warning">
        <p>Tem certeza que deseja excluir o {{ tipo }} <strong>{{ cliente.nome }}</strong> com placa <strong>{{ cliente.placa }}</strong>?</p>
    </div>

    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Confirmar Exclusão</button>
        <a href="{% if tipo == 'Mensalista' %}{% url 'clientes:cliente_mensalista' %}
                 {% else %}{% url 'clientes:cliente_diarista' %}{% endif %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
