{% extends 'base.html' %}
{% load static %}

{% block title %}Historico de Alterações{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="display-4 mb-2 text-danger fw-bold">Historico de Alterações</h1>
        <div class="d-flex flex-wrap gap-3 my-4">
            <a href="{% url 'usuarios:historico_vagas' %}" class="btn btn-danger btn-lg flex-fill">
                <i class="fas fa-file-alt me-2"></i> Historico de Vagas
            </a>
            <a href="#" class="btn btn-danger btn-lg flex-fill">
                <i class="fas fa-file-alt me-2"></i> Historico de Usuarios
            </a>
            
        </div>
    </div>
{% endblock %}
