{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="text-center my-4">Histórico de Alterações - Vagas</h1>

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Número da Vaga</th>
                <th>Status</th>
                <th>Ação</th>
                <th>Feito por</th>
                <th>Data/Hora</th>
            </tr>
        </thead>
        <tbody>
            {% for h in historicos %}
            <tr>
                <td>{{ h.id }}</td>
                <td>{{ h.instance.numero }}</td>
                <td>{{ h.instance.status }}</td>
                <td>
                    {% if h.history_type == '+' %}
                        Criado
                    {% elif h.history_type == '~' %}
                        Atualizado
                    {% elif h.history_type == '-' %}
                        Deletado
                    {% endif %}
                </td>
                <td>
                    {% if h.history_user %}
                        {{ h.history_user.username }}
                    {% else %}
                        (Usuário não identificado)
                    {% endif %}
                </td>
                <td>{{ h.history_date|date:"d/m/Y H:i:s" }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6" class="text-center">Nenhum histórico encontrado.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
