{% extends 'base.html' %}
{% load static %}
{% load form_tags %}

{% block title %} Detalhe de cobrança {% endblock %}
{% block content %}

    <div class="container mt-3">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <main class="flex-grow-1 d-flex flex-column justify-content-center align-items-center py-5">
        <h1 class="text-danger fw-bold mb-5">Detalhe da Cobrança: {{ cobranca.cliente_mensalista.nome }}</h1> 

        <div class="container bg-light p-4 rounded-4 shadow-sm text-start" style="max-width: 400px;">
            <div class="mb-3">
                <p class="mb-1"><strong>Mês de Referência</strong></p>
                <p class="form-control-static">{{ cobranca.mes_referencia }}</p>
            </div>
            <div class="mb-3">
                <p class="mb-1"><strong>Valor da Fatura</strong></p>
                <p class="form-control-static">R$ {{ cobranca.valor_devido|floatformat:2 }}</p>
            </div>
            <div class="mb-3">
                <p class="mb-1"><strong>Vencimento da Fatura</strong></p>
                <p class="form-control-static">{{ cobranca.data_vencimento|date:"d/m/Y" }}</p>
            </div>
            <div class="mb-3">
                <p class="mb-1"><strong>Status do Pagamento</strong></p>
                <p class="form-control-static">{{ cobranca.get_status_display }}</p>
            </div>
            <div class="mb-3">
                <p class="mb-1"><strong>Plano do Cliente</strong></p>
                <p class="form-control-static">{{ cobranca.cliente_mensalista.plano|default:"N/A" }}</p>
            </div>
        </div>

        <div class="d-flex justify-content-center gap-3 mt-4">
            <a href="{% url 'pagamentos:editar_cobranca_mensalista_status' cobranca.id %}" class="btn btn-warning px-4 py-2 rounded-4 fw-bold">
                <i class="bi bi-pencil me-2"></i> Editar Status
            </a>
            <a href="{% url 'pagamentos:emitir_recibo' 'mensalista' cobranca.id %}" class="btn btn-info text-white px-4 py-2 rounded-4 fw-bold">
                <i class="bi bi-receipt me-2"></i> Emitir Recibo
            </a>
        </div>
    </main>

    <footer class="pb-4">
        <a href="{% url 'pagamentos:gerar_pagamentos_mensalistas_lista_clientes' %}" class="btn btn-danger px-5 py-2 rounded-4 fw-bold">Voltar para a Lista de Clientes</a>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

{% endblock %}