{% extends 'base.html' %}
{% load static %}

{% block title %}Página Inicial - Contador{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="display-4 mb-2 text-danger fw-bold">Contador</h1>
        
        <div class="d-flex flex-wrap gap-3 my-4">
            <a href="#" class="btn btn-danger btn-lg flex-fill">
                <i class="fas fa-file-alt me-2"></i> Gerência Relatórios Financeiros
            </a>
            <a href="{% url 'pagamentos:listar_clientes_ativos' %}"  class="btn btn-danger btn-lg flex-fill">
                <i class="fas fa-users-cog me-2"></i> Gerência de Pagamentos
            </a>
        </div>
    </div>
{% endblock %}

