{% extends 'base.html' %}
{% load static %}

{% block title %}Página Inicial - Administrador{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="display-4 mb-2 text-danger fw-bold">Administrador</h1>
        <div class="d-flex flex-wrap gap-3 my-4">
            <a href="#" class="btn btn-danger btn-lg flex-fill">
                <i class="fas fa-file-alt me-2"></i> Gerência Relatórios
            </a>
            <a href="#" class="btn btn-danger btn-lg flex-fill">
                <i class="fas fa-users-cog me-2"></i> Gerência de Usuários
            </a>
            <a href="#" class="btn btn-danger btn-lg flex-fill">
                <i class="fas fa-user-friends me-2"></i> Gerência de Clientes
            </a>
            <a href="{% url 'planos:selecao_plano' %}" class="btn btn-danger btn-lg flex-fill">
                <i class="fas fa-list-alt me-2"></i> Gerência de Planos
            </a>
            <a href="#" class="btn btn-danger btn-lg flex-fill">
                <i class="fas fa-tools me-2"></i> Gerência de Manutenção
            </a>
        </div>
    </div>
{% endblock %}
