{% extends 'base.html' %}

{% block title %}Gerência de Planos{% endblock %}

{% block content %}
<div class="text-center">
    <h1 class="mb-5" 
    style="color: #E41515;"
    >Gerência de Planos</h1>
</div>

<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card border-danger mb-4" style="background-color: transparent;">
            <div class="card-body text-center text-danger">
                <i class="bi bi-calendar3" style="font-size: 3rem;"></i>
                <h3 class="card-title mt-3">Planos Mensais</h3>
                <p class="card-text">Gerencie os planos mensais com facilidade.</p>
                <a href="{% url 'planos:listar_planos_mensais' %}" class="btn btn-outline-danger mt-3">Acessar</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card border-danger mb-4" style="background-color: transparent;">
            <div class="card-body text-center text-danger">
                <i class="bi bi-calendar4-week" style="font-size: 3rem;"></i>
                <h3 class="card-title mt-3">Planos Diários</h3>
                <p class="card-text">Gerencie os planos diários de forma rápida.</p>
                <a href="{% url 'planos:listar_planos_diarios' %}" class="btn btn-outline-danger mt-3">Acessar</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
