<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Logout</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body class="bg-light d-flex flex-column justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow-sm">
        <h2 class="mb-3 text-center">Você saiu da sua conta</h2>
        <p class="mb-4 text-center">Obrigado por usar nosso sistema.</p>
        <a href="{% url 'usuarios:login_parkcontrol' %}" class="btn text-light bg-danger w-100">Entrar novamente</a>
    </div>
</body>
</html>