<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-5 col-sm-8">
      <div class="card shadow-sm">
        <div class="card-body p-4">
          <h2 class="card-title mb-4 text-center">Redefinição de senha</h2>
          <p class="mb-4 text-center text-muted">
            Esqueceu sua senha? Forneça seu endereço de e-mail abaixo que enviaremos as instruções para configurar uma nova.
          </p>
          <form method="post" novalidate>
            {% csrf_token %}
            <div class="mb-3">
               <label for="{{ form.email.id_for_label }}" class="form-label">{{ form.email.label }}</label>
              {{ form.email }}
              {% if form.email.errors %}
                <div class="invalid-feedback d-block">
                  {{ form.email.errors }}
                </div>
              {% endif %}
            </div>
            <button type="submit" class="btn btn-primary w-100">Reinicializar minha senha</button>
          </form>
          <hr class="my-4">
          <div class="text-center">
            <a href="{% url 'usuarios:login_parkcontrol' %}">Voltar para Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
