{% load i18n %}
{% autoescape off %}
{% blocktranslate %}Você está recebendo este e-mail porque solicitou a redefinição de senha para sua conta no {{ site_name }}.{% endblocktranslate %}

{% translate "Acesse o link abaixo e escolha uma nova senha:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'usuarios:password_reset_confirm' uidb64=uid token=token %}

{% endblock %}

{% translate "Seu nome de usuário, caso tenha esquecido:" %} {{ user.get_username }}

{% translate "Obrigado por utilizar nosso site!" %}

{% blocktranslate %}Equipe {{ site_name }}{% endblocktranslate %}
{% endautoescape %}